body, html {
    height: 100vh;
}

body {
    margin: 0; 
    display: grid;
    grid-template-columns: 8% 1fr 1fr 1fr 1fr; 
    grid-template-rows: 10% 30% auto auto 10%;
    grid-template-areas: 
                "aside  header  header  header   header"
                "aside  upper1  upper1  upper2   upper2"
                "aside   mid1    mid2    mid3     mid4"
                "aside   low1    low2    low3     low4"
                "aside  footer  footer  footer   footer";
    
    font-family: 'Cairo', sans-serif;
}

aside {
grid-area: aside;
background-color: rgb(12, 212, 242);
}

.navbar {
width: 8%;
height: 100vh;
position: fixed;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
grid-area: header;
background-color: blue;
}
#upper1 {
grid-area: upper1;
background-color: black;
}
#upper2 {
grid-area: upper2;
background-color: chocolate;
}

#mid1 {
grid-area: mid1;
background-color: rgb(145, 7, 163);
}
#mid2 {
grid-area: mid2;
background-color: blueviolet;
}
#mid3 {
grid-area: mid3;
background-color: rgba(79, 12, 142, 0.966);
}
#mid4 {
grid-area: mid4;
background-color: rgb(126, 95, 155);
}

#low1{
grid-area: low1;

}
#low2{
grid-area: low2;

}
#low3{
grid-area: low3;

}
#low4{
grid-area: low4;

}

footer {
grid-area: footer;
background-color: bisque;
}

.box {
    position: relative;
    width: 94%;
    height: 290px;
    border: 1px solid black;
    margin: 10px;
    border-radius: 35px
}

.bx img {
    width: 100%;
    height: 100%;
    border-radius: 33.5px;
    object-fit: contain;
}

.box .content {
    position: absolute;
    width: 100%;
    height: 35%;
    /* background: green; */
    bottom: 0;
    border-radius: 0px 0px 33.5px 33.5px;
    z-index: 1;
}

.box .content::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: rgb(185, 185, 185, .1);
    backdrop-filter: blur(5px);
    border-radius: 0px 0px 33.5px 33.5px;
    z-index: -1;
}

.content h3 {
    color: white;
    font-size: 17px;
    padding: 0px;
}

.content p {
    color: white;
    font-size: 13px;
    padding: 0px;
}
